@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/Content/Custom/Calculator")
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        @using (Ajax.BeginForm("InputNumber", new
        { },
                        new AjaxOptions()
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "calcInput",
                        },
                        new { @class = "calc-number" })
                    )
        {
            <div class="row">
                <input id="calcInput" name="calcInput" value="" />
            </div>
                <div class="row number-container">
                    @for (var i = 9; i >= 0; i--)
                    {
                        <div class="col-md-1 calc-button" type="submit">
                            <input type="hidden" name="numberValue" value="@i" />
                            <button type="submit">@i</button>
                        </div>
                    }
                </div>

        }
        <div class="row">
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("-", "Subtract", new { },
         new AjaxOptions()
         {
             InsertionMode = InsertionMode.Replace,
             UpdateTargetId = "calcInput",
         },
         new { @class = "calc-number" })
            </div>
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("+", "Add", new { },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
            </div>
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("*", "Multiply", new { },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
            </div>
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("/", "Divide", new { },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
            </div>
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("=", "Evaluate", new { },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
            </div>
        </div>
    </div>

</div>
