@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/Content/Custom/Calculator")
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div id="calcInput"></div>
        </div>
        <div class="row number-container">
            @for (var i = 9; i >= 0; i--)
            {
                <div class="col-md-1 calc-button">
                    @Ajax.ActionLink(i.ToString(), "InputNumber", new
               {
                   numberValue = i
               },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.InsertAfter,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("-", "Subtract", new { },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.InsertAfter,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
            </div>
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("+", "Add", new { },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.InsertAfter,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
            </div>
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("*", "Multiply", new { },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.InsertAfter,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
            </div>
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("/", "Divide", new { },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.InsertAfter,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
            </div>
            <div class="col-md-2 calc-button">
                @Ajax.ActionLink("=", "Evaluate", new { },
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.InsertAfter,
                        UpdateTargetId = "calcInput",
                    },
                    new { @class = "calc-number" })
            </div>
        </div>
    </div>
    
</div>
